.intro {

    .image {
        width: 4rem;
        height: 4rem;
    }

    h1 {
        color: #fff;
        font-weight: 600;
        font-size: 1em;
        line-height: 1em;
    }

    p {
        font-size: 0.6em;
        color: rgba(255, 255, 255, 0.5);
        line-height: 1.25em;
        margin: 0.5em 0 0 0;
    }
}