.projectDisplayComponent {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    .image {
        border-radius: 10px;
        border: solid 3px beige;
        box-shadow: 2px 2px 3px grey;
        object-fit: contain;
        width: 100%;
        height: auto;
    }

    .text {
        font-family: monospace;
    }

    &.row {
        flex-direction: row;
        .image {
            width: 50%;
            min-width: 50%;
            height: auto;
        }
        .text {
            margin-left: 2rem;
        }
        @media screen and (max-width: 767.9px){
            flex-direction: column-reverse;
        }
    }
}