.social {
    list-style: none;
    padding-left: 0;
    font-size: 0.8em;
    text-align: center;
    li {
        display: inline-block;
        cursor: default;
        padding-left: 0;
    }
    a {
        display: inline-block;
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;
        border: 0;
        color: #41484c;
        // @include vendor('transition', 'color 0.35s ease-in-out');
        transition: color  0.35s ease-in-out;

        &:hover {
            color: #fff;
        }
    }
}